@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@300&family=Quicksand:wght@400;500&family=Shadows+Into+Light&display=swap');
* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Quicksand;
    font-weight: 300;
    color:#3a3a3a
}

/* Heading and logo */
h1, h2 {
    font-family: Quicksand, sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #E2B659;
}

#think-tank-logo {
    float: left;
    font-size: 300%;
    margin-left: 10px;
}

#menu {
    font-size: 115%;
   
}

#menu li {
    
    float: right;
    list-style-type: none;
    margin-right: 23px;
    display: inline-block; 
    color: ##000000;
    font-weight: 500;
}

#menu a {
    text-decoration: none;
    color: #000000;
}

#think-tank-logo, #menu {
    line-height: 75px;
}

#menu a:hover {
    border-bottom: 1px solid black;
}

.active {
    border-bottom: 1px solid black;
}

/* Home main image */
#home_main_image {
    height:600px;
    width: 100%;
    background: url('../images/Pobrezie.jpg') no-repeat center center;
    overflow: hidden;
    animation-name: home_main_image_zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

#main_image_after_zoom {
    height:600px;
    width: 100%;
    overflow: hidden;   
}

@keyframes home_main_image_zoom {
    from {transform: scale(1);}
    to {transform: scale(1.1);}
}

#cover-text h1 {
    height:200px;
    width: 800px;
    text-align: center;
    color: white;
    bottom:100px;
    right: 150px;
    position:absolute;
    font-size: x-large;

}

#cover-text a {

height:200px;
width: 800px;
text-align: center;
color: white;
bottom:2px;
right: 150px;
position:absolute;
font-size: x-large;

}